{% extends "document.html" %}

{% block body %}
<div class="row">
    <div class="col-md-12 mb-5">
        <header class="text-center pl-4 pr-4">
            <img class="mb-4" width="150" height="150" src="/images/logo-ictu.png" alt="ICT Logo">
        </header>
    </div>
</div>
<div class="row align-items-center mb-5">
    <div id="vApp" v-cloak :data-pending="pending" class="col-md-8 m-auto text-center">
        <div class="login-form">
            <h1 class="h4 mb-5 mt-3">Password <span class="text-danger">Helper</span></h1>
            <div class="row">
                <div class="col-12">
                    <div class="form-group text-center d-flex">
                        <input ref="passwordText" @focus="select($event)" v-model="password" type="text" readonly class="text-center form-control" style="font-size: 30px;">
                        <button @click="copy($event)" :disabled="disabled" class="btn btn-light btn-lg" type="button">${btnCopyText}</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group text-left d-flex align-items-center">
                        <label for="ptype" class="mb-0 mr-2">Type</label>
                        <select v-model="ptype" name="ptype" id="ptype" class="form-control flex-grow-1">
                            <option value="1">Passphrase</option>
                            <option value="2">Password</option>
                            <option value="3">Passcode</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group text-left d-flex align-items-center">
                        <label for="length" class="mb-0 mr-2">Length</label>
                        <select v-model="length" name="length" id="length" class="form-control flex-grow-1">
                            <option v-for="l,i in lengthList" :value="l">${l} <template v-if="ptype==1">words</template></option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group text-left d-flex align-items-center">
                        <template v-if="ptype==1">
                            <label for="separator" class="mb-0 mr-2">Separator</label>
                            <select v-model="separator" name="separator" id="separator" class="form-control flex-grow-1">
                                <option value="-">-</option>
                                <option value="~">~</option>
                                <option value="_">_</option>
                                <option value="+"> </option>
                                <option value=".">.</option>
                                <option value=":">:</option>
                            </select>
                        </template>
                    </div>
                </div>
            </div>
            <div v-if="ptype==3" class="alert alert-danger text-left">
                <strong>Warning!</strong> Passcodes ARE NOT substitute for passwords. They are best suited for devices that require PIN-style authentication, such as ATMs, mobile phone unlock screens, or smart door locks.
            </div>
            <div class="form-group mt-3">
                <button @click="generate()" :disabled="disablePassword" class="btn btn-primary btn-lg"
                    type="button">${btnPasswordText}</button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-8 m-auto">
        <h2 class="h2">GSU Password Policy</h2>
        <h3>Purpose: To ensure strong authentication across systems.</h3>
        <h4>Key Points:</h4>
        <ol>
            <li>Use a passphrase composed of at least four words. Passphrases are easier to remember than passwords.</li>
            <li>If using passwords, it must be composed of at least 16 random characters.</li>
            <li>Avoid weak passwords such as common words, patterns, or easily guessable information.</li>
            <li>Use password generators to automate password creation and avoid weak passwords.</li>
            <li>Password sharing should be approached with caution and done only when absolutely necessary.</li>
            <li>Passcodes should not be used as a substitute for passwords. They are best suited for devices that require PIN-style authentication, such as ATMs, mobile phone unlock screens, or smart door locks.</li>
            
            <li>Save passphrases or passwords on Password Managers.</li>
        </ol>
        <h4>Recommended Password Managers:</h4>
        <ol>
            <li>KeePass / KeePassXC - Free and open-source. Can be used together with Google Drive for syncing.</li>
            <li>Bitwarden (Free Plan)</li>
            <li>Built-in password managers that come with internet browsers.</li>
        </ol>
        <h4>Recommended Password Generators:</h4>
        <ol>
            <li>GSU ICT Password Helper - <a href="https://ict.gsu.edu.ph/password-helper">https://ict.gsu.edu.ph/password-helper</a></li>
            <li>Bitwarden Strong Password Generator - <a href="https://bitwarden.com/password-generator/">https://bitwarden.com/password-generator/</a></li>
            <li>Password generators that come with password managers.</li>
        </ol>

    </div>
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
<script>
    const vApp = new Vue({
        el: '#vApp',
        delimiters: ["${", "}"],
        mixins: [],
        data: {
            pending: false,
            ptype: 1,
            length: 4,
            separator: '-',
            password: '{{password}}',
            btnPasswordText: 'Generate',
            btnCopyText: 'Copy',
            disablePassword: false,
        },
        watch: {
            ptype: function (newVal) {
                if (newVal == 1 || newVal == 3) {
                    this.length = 4
                } else if (newVal == 2) {
                    this.length = 16
                }
            }
        },
        computed: {
            disabled: function () {
                return (!this.password)
            },
            lengthList: function () {
                if (this.ptype == 2) {
                    return [16, 32, 64, 128, 256]
                }
                return [4, 5, 6, 7, 8, 9, 10]

            }
        },
        methods: {
            getAsync: async (url) => {
                try {
                    let response = await fetch(url, {
                        method: 'GET',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-Requested-With': 'XMLHttpRequest'
                        }
                    })
                    if (!response.ok) {
                        throw new Error(await response.text())
                    }
                    return response.json();
                } catch (error) {
                    console.error(error)
                    throw error
                }
            },
            select: function (e) {
                const input = e?.target
                if (input) {
                    input.select()

                }
            },
            copy: function (e) {
                const me = this
                me.$refs.passwordText.select()
                me.$refs.passwordText.setSelectionRange(0, 99999); // For mobile devices
                navigator.clipboard.writeText(me.$refs.passwordText.value)
                me.btnCopyText = 'Copied'
                setTimeout(function(){
                    me.btnCopyText = 'Copy'
                }, 1000)
            },

            generate: async function (e) {
                const me = this
                me.disablePassword = true
                me.btnPasswordText = 'Generating'
                const resp = await me.getAsync(`/password-helper?ptype=${me.ptype}&length=${me.length}&separator=${me.separator}`)
                me.disablePassword = false
                me.btnPasswordText = 'Generate'

                if (resp) {
                    me.password = resp.password
                }
            }
        }
    })
</script>
{% endblock %}