# SystemD Service for ICT Portal
# location: /etc/systemd/system/
# file: /etc/systemd/system/ict-portal.service
# update systemd: sudo systemctl daemon-reload
# restart: sudo systemctl restart ict-portal
# status: sudo systemctl status ict-portal
# start-on-boot: sudo systemctl enable ict-portal

[Unit]
Description=ICT-Portal

[Service]
ExecStart=/home/ubuntu/.nvm/versions/node/v20.14.0/bin/node /home/ubuntu/ict-portal/index.js

# Required on some systems
WorkingDirectory=/home/ubuntu/ict-portal

# Restart service after 10 seconds if node service crashes
Restart=always
RestartSec=10

# Output to syslog
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=nodejs-ict-portal
#User=<alternate user>
#Group=<alternate group>
Environment=NODE_ENV=live PORT=9102

[Install]
WantedBy=multi-user.target