<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link {{urlPath|active_class([r/^\/admin\/gsuid\/(.?)+/], 'active font-weight-bold')}}" href="/admin/gsuid/all">GSU ID</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {{urlPath|active_class([r/^\/admin\/gaccount\/(.?)+/], 'active font-weight-bold')}}" href="/admin/gaccount/all">GSU Account Requests</a>
    </li>
    <!-- <li class="nav-item">
        <a class="nav-link {{urlPath|active_class([r/^\/admin\/survey\/(.?)+/], 'active font-weight-bold')}}" href="/admin/survey/all">Surveys</a>
    </li> -->
    <!-- <li class="nav-item">
        <a class="nav-link {{urlPath|active_class([r/^\/admin\/aws\/(.?)+/], 'active font-weight-bold')}}" href="/admin/aws/create">AWS</a>
    </li> -->
</ul>