# SystemD Service for ictportal
# location: /etc/systemd/system/
# file: /etc/systemd/system/ictportal.service
# update systemd: sudo systemctl daemon-reload
# restart: sudo systemctl restart ictportal
# status: sudo systemctl status ictportal
# start-on-boot: sudo systemctl enable ictportal

[Unit]
Description=ictportal

[Service]
ExecStart=/usr/bin/node /home/ubuntu/mis-portal/index.js

# Restart service after 10 seconds if node service crashes
Restart=always
RestartSec=10

# Output to syslog
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=nodejs-ictportal

# Environmental variables
Environment=NODE_ENV=live PORT=9102

[Install]
WantedBy=multi-user.target