{% extends "document.html" %}
{% block body %}
<div id="vApp" v-cloak v-bind:data-pending="pending" class="row">
    <div class="col-12 pt-5">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active font-weight-bold" href="#">GSU Account Requests</a>
            </li>
            <li class="nav-item">
                
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/survey/all">Surveys</a>
            </li>
        </ul>
        <div class="tab-content p-3" style="border-radius:0 0 5px 5px;">
            {% include 'parts/flash.html' %}
            <div class="row mb-3 align-items-center">
                <div class="col-md-6">
                </div>
                <div class="col-md-6 text-right">
                    <a class="btn btn-dark" href="/admin/gaccount/all">Back</a>
                </div>
            </div>

            {%- if gaccount.status === 1 %}
            <table class="table table-sm">
                <tr>
                    <td>GSU Email</td>
                    <td>
                        <div class="text-success font-weight-bold">{{gaccount.gsumail}}</div>
                    </td>
                </tr>
                <tr>
                    <td>Account Type</td>
                    <td>${accountType}</td>
                </tr>
                <tr>
                    <td>ID Number</td>
                    <td>${idNumber}</td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td>${firstName} ${middleName} ${lastName}</td>
                </tr>
                
                <tr>
                    <td>Created</td>
                    <td>{{gaccount.createdAt|format_date('MMM DD YYYY hh:mm:ss A')}}</td>
                </tr>
                <tr>
                    <td>Alternative Email</td>
                    <td>${email}</td>
                </tr>
                <tr>
                    <td>Mobile Number</td>
                    <td>${mobileNumber}</td>
                </tr>
            </table>

            {% else %}
            
            <form ref="form" v-on:submit.prevent="onSubmit" action="" method="POST">
                <h6 class="h6 mb-3">
                    <span class="mr-2">Personal Information</span>
                </h6>
                <div class="form-group" v-bind:data-error="errors['accountType']" v-on:click="errors.accountType=false">
                    <label for="accountType" class="mr-1">Account Type</label>
                    <select v-model="accountType" name="accountType" id="accountType" class="form-control">
                        <option value="">- SELECT -</option>
                        <option value="Student">Student</option>
                        <option value="Faculty">Faculty</option>
                        <option value="Staff">Staff</option>
                        <option value="Office">Office</option>
                    </select>
                </div>
                <div class="form-group" v-bind:data-error="errors['idNumber']" v-on:click="errors.idNumber=false">
                    <label for="idNumber" class="mr-1">ID Number</label>
                    <input v-model="idNumber" name="idNumber" id="idNumber" type="text" class="form-control">
                </div>
                <div class="form-group" v-bind:data-error="errors['firstName']" v-on:click="errors.firstName=false">
                    <label for="firstName" class="mr-1">First Name</label>
                    <input v-model="firstName" name="firstName" id="firstName" type="text" class="form-control">
                </div>
                <div class="form-group text-right">
                    
                </div>
                <div class="form-group" v-bind:data-error="errors['middleName']" v-on:click="errors.middleName=false">
                    <div class="form-row">
                        <div class="col-md-6">
                            <label for="middleName" class="mr-1">Middle Name</label>
                        </div>
                        <div class="col-md-6 mb-2">
                            <div class="custom-control custom-switch">
                                <input v-model="noMiddle" type="checkbox" class="custom-control-input" id="help">
                                <label class="custom-control-label" for="help">I dont have a Middle Name</label>
                            </div>
                        </div>
                    </div>
                    <input v-model="middleName" name="middleName" id="middleName" type="text" class="form-control" :disabled="noMiddle">
                </div>
                <div class="form-group" v-bind:data-error="errors['lastName']" v-on:click="errors.lastName=false">
                    <label for="lastName" class="mr-1">Last Name</label>
                    <input v-model="lastName" name="lastName" id="lastName" type="text" class="form-control">
                </div>
                <hr>
                <h6 class="h6 mb-3">
                    <span class="mr-2">Contact Information</span>
                </h6>
                <div class="form-group" v-bind:data-error="errors['email']" v-on:click="errors.email=false">
                    <label for="email" class="mr-1">Alternative Email Address</label>
                    <input v-model="email" name="email" id="email" type="email" class="form-control">
                </div>
                <div class="form-group" v-bind:data-error="errors['mobileNumber']" v-on:click="errors.mobileNumber=false">
                    <label for="mobileNumber" class="mr-1">Mobile Number</label>
                    <input v-model="mobileNumber" name="mobileNumber" id="mobileNumber" type="mobileNumber" class="form-control">
                </div>
                <hr>
                <h6 class="h6 mb-3">
                    <span class="mr-2">GSU Account</span>
                </h6>
                <div class="form-group" v-bind:data-error="errors['gsumail']" v-on:click="errors.gsumail=false">
                    <label for="gsumail" class="mr-1">GSU Email Address</label>
                    <input v-model="gsumail" name="gsumail" id="gsumail" type="email" class="form-control">
                </div>
                <div class="form-group" v-bind:data-error="errors['password']" v-on:click="errors.password=false">
                    <label for="password" class="mr-1">Password</label>
                    <input v-model="password" name="password" id="password" type="text" class="form-control">
                </div>
                <div class="form-row">
                    <div class="col-md-6">
                    </div>
                    <div class="col-md-12 text-center">
                        <button class="btn btn-lg btn-primary">Submit Request</button>
                    </div>
                </div>
            </form>
            {% endif -%}

        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
<script>
    const vApp = new Vue({
        el: '#vApp',
        delimiters: ["${", "}"],
        mixins: [],
        data: {
            errors: {
                accountType: false,
                idNumber: false,
                firstName: false,
                middleName: false,
                lastName: false,

                email: false,
                mobileNumber: false,
                gsumail: false,
                password: false,
            },
            pending: false,
            accountType: '{{gaccount.accountType}}',
            idNumber: '{{gaccount.idNumber}}',
            firstName: '{{gaccount.firstName}}',
            middleName: '{{gaccount.middleName}}',
            noMiddle: {% if gaccount.middleName %}false{% else %}true{% endif %},
            lastName: '{{gaccount.lastName}}',

            email: '{{gaccount.email}}',
            mobileNumber: '{{gaccount.mobileNumber}}',
            gsumail: '{{gaccount.gsumail}}',
            password: '{{gaccount.password}}',
        },
        computed: {
           
        },
        watch: {
           
        },
        mounted: function () {
           
            
        },
        methods: {
            onSubmit: function () {
                try {
                    const me = this;
                    Object.keys(this.$data).forEach(key => {
                        if(typeof this[key] === 'string'){
                            this[key] = this[key].trim()
                        }
                    });
                    if (!me.accountType) {
                        me.errors['accountType'] = true
                        throw new Error('Please specify the Account Type.')
                    }
                    if (!me.idNumber) {
                        me.errors['idNumber'] = true
                        throw new Error('Please specify the ID Number.')
                    }
                    if (!me.firstName) {
                        me.errors['firstName'] = true
                        throw new Error('Please specify the First Name.')
                    }
                    if (!me.middleName && !me.noMiddle) {
                        me.errors['middleName'] = true
                        throw new Error('Please specify the Middle Name.')
                    }
                    if (!me.lastName) {
                        me.errors['lastName'] = true
                        throw new Error('Please specify the Last Name.')
                    }
                    if (!me.email) {
                        me.errors['email'] = true
                        throw new Error('Please specify the Alternative Email.')
                    } else {
                        if (/^[\w-\.+]+@([\w-]+\.)+[\w-]{2,4}$/g.test(me.email) === false) {
                            me.errors['email'] = true
                            throw new Error('Invalid email.')
                        } else {
                            let domain = me.email?.split('@')?.at(-1)
                            if (['gsu.edu.ph'].includes(domain)) {
                                me.errors['email'] = true
                                throw new Error('Please use your personal Gmail not your GSU email.')
                            }
                        }
                    }
                    if (!me.mobileNumber) {
                        me.errors['mobileNumber'] = true
                        throw new Error('Please specify the Mobile Number.')
                    }
                    if (!me.gsumail) {
                        me.errors['gsumail'] = true
                        throw new Error('Please specify the GSU Email.')
                    } else {
                        if (/^[\w-\.+]+@([\w-]+\.)+[\w-]{2,4}$/g.test(me.gsumail) === false) {
                            me.errors['gsumail'] = true
                            throw new Error('Invalid email.')
                        } else {
                            let domain = me.gsumail?.split('@')?.at(-1)
                            if (['gsu.edu.ph'].includes(domain) === false) {
                                me.errors['gsumail'] = true
                                throw new Error('Must end with @gsu.edu.ph')
                            }
                        }
                    }
                    if (!me.password) {
                        me.errors['password'] = true
                        throw new Error('Please specify the Password.')
                    }
                    

                    me.pending = true;
                    me.$nextTick(function() {
                        me.$refs.form.submit();
                    });

                } catch (err) {
                    alert(err)
                }
            }
        }
    });
    
</script>
{% endblock %}