{% extends "document-fluid.html" %}
{% block body %}
<div id="vApp" v-cloak v-bind:data-pending="pending" class="row">
    <div class="col-10 ml-auto mr-auto pt-5">
        {% include 'admin/tabs.html' %}
        <div class="tab-content p-3" style="border-radius:0 0 5px 5px;">
            {% include 'parts/flash.html' %}
            <table class="table table-striped table-sm">
                <tr>
                    <th>#</th>
                    <th>Instance</th>
                    <th>Status</th>
                    <th></th>
                </tr>
                <tr v-for="instance, i in instances">
                    <td>${i+1}</td>
                    <td>${instance.name}</td>
                    <td>${instance.status}</td>
                    <td>
                        <button v-if="instance.status==='running'" @click="toggle(instance, 'stop')"
                            class="btn btn-sm btn-danger">Stop</button>
                        <button v-if="instance.status==='stopped'" @click="toggle(instance, 'start')"
                            class="btn btn-sm btn-success">Start</button>
                        <button v-if="instance.status==='unknown'" @click="getStatus(instance)"
                            class="btn btn-sm btn-light">Check</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
<script>
    const acsrf = '{{acsrf}}'
    const vApp = new Vue({
        el: '#vApp',
        delimiters: ["${", "}"],
        mixins: [],
        data: {
            pending: false,
            acsrf: acsrf,
            errors: {

            },
            instances: [
                {
                    name: 'instance-gsu-web2',
                    status: 'pending', // running | stopped | pending | unknown
                    pending: false,
                },
                {
                    name: 'instance-gsu-mysql',
                    status: 'pending',
                    pending: false,
                },
                {
                    name: 'instance-gsu-service-desk2',
                    status: 'pending',
                    pending: false,
                },
                {
                    name: 'instance-gsu-ojs',
                    status: 'pending',
                    pending: false,
                },
                {
                    name: 'instance-gsu-hris2',
                    status: 'pending',
                    pending: false,
                }
            ],

        },
        mounted: async function () {
            const me = this

            me.instances.forEach(async (instance) => {
                await me.getStatus(instance)
            })

            // setInterval(() => {
            //     me.instances.forEach(async (instance) => {
            //         await me.getStatus(instance)
            //     })
            // }, 10000)
        },
        methods: {

            getStatus: async function (instance) {
                const me = this
                try {
                    instance.pending = true
                    instance.status = 'pending'
                    let response = await fetch(`/admin/aws/instance/${instance.name}`, {
                        method: 'GET',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-Requested-With': 'XMLHttpRequest'
                        }
                    })

                    if (!response.ok) {
                        const responseText = await response.text()
                        throw new Error(responseText)
                    }
                    let responseJson = await response.json();

                    instance.pending = false
                    instance.status = responseJson.status

                    console.log(responseJson)
                } catch (error) {
                    console.error(error)
                    // alert(error);
                } finally {
                    me.pending = false
                }
            },
            toggle: async function (instance, mode) {
                const me = this
                try {
                    instance.pending = true
                    instance.status = 'pending'
                    let response = await fetch(`/admin/aws/instance/${instance.name}/${mode}`, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-Requested-With': 'XMLHttpRequest'
                        },
                        body: JSON.stringify({
                            acsrf: acsrf,
                        }),
                    })

                    if (!response.ok) {
                        const responseText = await response.text()
                        throw new Error(responseText)
                    }
                    let responseJson = await response.json();

                    instance.pending = false
                    instance.status = responseJson.status

                    console.log(responseJson)
                } catch (error) {
                    console.error(error)
                    alert(error);
                } finally {
                    me.pending = false
                }
            },
        }
    });

</script>
{% endblock %}