{% extends "document.html" %}

{% block body %}
    <div class="row">
        <div class="col-md-12 pb-5">
            <header class="text-center">
                <img class="mb-4" width="250" height="250" src="/images/logo-ictu.png" alt="ICT Logo">
                <h1 class="h4">Information and Communications Technology <span class="text-danger">Unit</span> Portal</h1>
            </header>
            {% include 'parts/offered.html' %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center mb-5 pb-5">
            <button type="button" id="button2" class="fx-noticemesenpai btn btn-primary btn-lg">Get to Know Us</button>
        </div>
    </div>
    <div id="target1" class="row align-items-center mb-5">
        <div class="col-md-4 text-center">
            <img class="profile" src="/images/avatar.jpg" alt="avatar">
        </div>
        <div class="col-md-8 pt-3 text-md-left text-center">
            <h3 class="h2 mb-1">Nico A.</h3>
            <h4 class="h5 mb-3 text-danger">Information Technology Officer I / Unit Head</h4>
            <p>The current head of the ICT Unit is a long time programmer working on various computer languages and technologies. He currently juggles between managing the day to day activities of the office and programming software.</p>
        </div>
    </div>
    <div id="target2" class="row mb-5">
        <div class="col-md-4 text-center order-md-2">
            <img class="profile" src="/images/avatar.jpg" alt="avatar">
        </div>
        <div class="col-md-8 pt-4 text-center text-md-right order-md-1">
            <h3 class="h2">Cris Vincent F.</h3>
            <h4 class="h5 mb-3 text-danger">Information System Analyst II</h4>
            <p>Just call him Cris. He is in charge of SIAS support and the implementor of biometrics. He is also the programmer for the <span class="text-danger">Document Tracking System</span>. When not coding, he enjoys playing  <span class="text-danger">basketball</span> or going for a morning jog.</p>
        </div>
    </div>
    <div class="row align-items-center mb-5">
        <div class="col-md-4 text-center">
            <img class="profile" src="/images/avatar.jpg" alt="avatar">
        </div>
        <div class="col-md-8 pt-3 text-md-left text-center">
            <h3 class="h2">John Michael G.</h3>
            <h4 class="h5 mb-3 text-danger">Information System Analyst I</h4>
            <p>Mike<sup>2x</sup> for short, he is in charge of maintaining and programming the <span class="text-danger">ICTU Service Desk</span> and serves as a part-time IT instructor. In his spare time, he enjoys spending time with his family at home.</p>
        </div>
    </div>
    <div class="row align-items-center mb-5">
        <div class="col-md-4 text-center order-md-2">
            <img class="profile" src="/images/avatar.jpg" alt="avatar">
        </div>
        <div class="col-md-8 pt-4 text-center text-md-right order-md-1">
            <h3 class="h2">Mark N.</h3>
            <h4 class="h5 mb-3 text-danger">Support Services</h4>
            <p>Everybody knows Makoy, the <span class="text-danger">Mr. Congeniality</span> of the ICT Unit. Diligent and hardworking, <br>he excels as an all-around IT support specialist. </p>
        </div>
    </div>
    <div class="row align-items-center mb-5">
        <div class="col-md-4 text-center">
            <img class="profile" src="/images/avatar.jpg" alt="avatar">
        </div>
        <div class="col-md-8 pt-3 text-md-left text-center">
            <h3 class="h2">Marjun B.</h3>
            <h4 class="h5 mb-3 text-danger">Network Administrator</h4>
            <p>Our dedicated technical staff and network administrator, a guardian of connectivity, tirelessly ensures the reliability and seamless maintenance of our <span class="text-danger">Internet connection</span>, keeping us all effortlessly linked to the digital world.</p>
        </div>
    </div>
    <div class="row align-items-center mb-5">
        <div class="col-md-4 text-center order-md-2">
            <img class="profile" src="/images/avatar.jpg" alt="avatar">
        </div>
        <div class="col-md-8 pt-4 text-center text-md-right order-md-1">
            <h3 class="h2">Joel B.</h3>
            <h4 class="h5 mb-3 text-danger">Computer Repair & Maintenance</h4>
            <p>When it comes to repair and maintenance tasks, he's the mastermind behind the <span class="text-danger">magic</span>. Get ready for the legendary expertise of Borce, because no screw goes unturned and no gadget remains unglitched under his watch!.</p>
        </div>
    </div>
    <div class="row align-items-center mb-5">
        <div class="col-md-4 text-center">
            <img class="profile" src="/images/avatar.jpg" alt="avatar">
        </div>
        <div class="col-md-8 pt-3 text-md-left text-center">
            <h3 class="h2">John Kenaz P.</h3>
            <h4 class="h5 mb-3 text-danger">Support Services</h4>
            <p>The youngest member of the team, known for his <span class="text-danger">charm</span>, responsible for your class scheduling, Notice of Teaching Load, operating the LED wall and making you smile.</p>
        </div>
    </div>
    <div class="row align-items-center mb-5">
        <div class="col-md-4 text-center order-md-2">
            <img class="profile" src="/images/avatar.jpg" alt="avatar">
        </div>
        <div class="col-md-8 pt-4 text-center text-md-right order-md-1">
            <h3 class="h2">Sieryl L.</h3>
            <h4 class="h5 mb-3 text-danger">Computer Lab Technician</h4>
            <p>Pronounced "Cyril" or "Sheryl"? Just call him Cy. In charge of hardware repair and maintenance for the Salvador Campus computer laboratory. Additionally, he serves as a reliable backup IT Support, always ready to step in and ensure our operations and events are running smoothly.</p>
        </div>
    </div>
    <div class="row align-items-center mb-5">
        <div class="col-md-4 text-center">
            <img class="profile" src="/images/avatar.jpg" alt="avatar">
        </div>
        <div class="col-md-8 pt-3 text-md-left text-center">
            <h3 class="h2">John Paul G.</h3>
            <h4 class="h5 mb-3 text-danger">Support Services - Mosqueda</h4>
            <p>Responsible for handling IT-related tasks for both the Mosqueda and Baterna Campus. With his technical skills, good looks, and approachable demeanor, he ensures everything runs smoothly. </p>
        </div>
    </div>
    <div class="row align-items-center mb-5">
        <div class="col-md-4 text-center order-md-2">
            <img class="profile" src="/images/roxy.jpg" alt="avatar">
        </div>
        <div class="col-md-8 pt-4 text-center text-md-right order-md-1">
            <h3 class="h2">Rocsan C.</h3>
            <h4 class="h5 mb-3 text-danger">Office Secretary</h4>
            <p>The <span class="text-danger">rose</span> among the thorns, she handles all our office paperwork (..thanks Rox!)<br>and serves as the front desk representative.</p>
        </div>
    </div>
    <div class="row align-items-center mb-5">
        <div class="col-md-12 text-center pt-5 pb-5 mt-5">We are the ICT<span class="text-danger">U</span>. Ready to serve <span class="text-danger">U</span>.</div>
    </div>
    
{% endblock %}
{% block scripts %}
{{ super() }}
<script>
    /**
     * 
    "We are the ICTU. Ready to help you."
    "We are the ICTU. Solutions through and through."
    "We are the ICTU. Innovation is our cue."
    "We are the ICTU. Your tech dreams come true."
    "We are the ICTU. Support that's tried and true." 
     */
    jQuery(".fx-noticemesenpai").click(function() {
        document.querySelector('#target1').scrollIntoView({
            behavior: 'smooth'
        });
        jQuery(".fx-noticemesenpai").removeClass('fx-noticemesenpai')
    });
</script>
{% endblock %}
</body>
</html>
