{% extends "document.html" %}

{% block body %}
    <div class="row">
        <div class="col-md-12 pb-5 mb-5">
            <header class="text-center pl-5 pr-5">
                <img class="mb-4" width="250" height="250" src="/images/logo-ictu.png" alt="ICT Logo">
                <h1 class="h4">Information and Communications Technology <span class="text-danger">Unit</span> Portal</h1>
            </header>
        </div>
    </div>
    <div class="row align-items-center mb-5">
        <div class="col-md-6 text-center">
            <img src="/images/944.png" width="300" height="300" alt="Multimedia Image">
        </div>
        <div class="col-md-6 text-justify">
            <h2 class="h5">Free Access to Gmail, Google Classroom, and More!</h2>
            <div>
                <p>Create your Google Workspace Account today and explore a suite of powerful tools designed to enhance your productivity and collaboration.</p>
                <div>
                    <a href="/services/gsu-account" class="btn btn-sm btn-success mb-1">Create GSU Account</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row align-items-center mb-5">
        <div class="col-md-6 order-md-1 order-2 text-justify">
            <h2 class="h5">SUMA &amp; SIAS Concerns?</h2>
            <div>
                <p>Do you have questions about the Student Management System (SUMA) or the Student Information and Accounting System (SIAS)? Whether it's schedules, grades, or forgetfulness, we've got you covered.</p>
                <div>
                    <span class="btn btn-sm btn-dark mb-1">Get Assistance</span>
                    <!-- <a href="/services/gsu-suma" class="btn btn-sm btn-success mb-1">Get Assistance</a> -->
                </div>
            </div>
        </div>
        <div class="col-md-6 order-md-2 order-1 text-center">
            <img src="/images/875.png" width="300" height="300" alt="Data-banking Image">
        </div>
    </div>
    <div class="row align-items-center mb-5">
        <div class="col-md-6 order-2 text-justify">
            <h2 class="h5">ID Services</h2>
            <div>
                <p>Don't have your GSU ID yet? Have you misplaced it? Don't worry, we're here to help!</p>
                <div>
                    <span class="btn btn-sm btn-dark mb-1">Get Assistance</span>
                    <!-- <a href="/services/gsu-id" class="btn btn-sm btn-success mb-1">Get Assistance</a> -->
                </div>
            </div>
        </div>
        <div class="col-md-6 order-1 text-center">
            <img src="/images/861.png" width="300" height="300" alt="Online Postings Image">
        </div>
    </div>
    <div class="row align-items-center mb-5">
        <div class="col-md-6 order-md-1 order-2 text-justify">
            <h2 class="h5">Technical Support</h2>
            <div>
                <p>We can help with technical problems. IT-related and campus-related problems only (we cannot repair your rice cooker or remote control, SORRY). </p>
            </div>
            <div>
                <span class="btn btn-sm btn-dark mb-1">Get Assistance</span>
                <!-- <a href="/services/gsu-rice-cooker" class="btn btn-sm btn-success mb-1">Get Assistance</a> -->
            </div>
        </div>
        <div class="col-md-6 order-md-2 order-1 text-center">
            <img src="/images/855.png" width="300" height="300" alt="Technical Support Image">
        </div>
    </div>
    <div class="row align-items-center mb-5">
        <div class="col-md-6 order-2 text-justify">
            <h2 class="h5">Systems Development</h2>
            <div>
                <p>We maintain and develop information systems for use by the university.</p>
            </div>
            <div class="text-center">
                <a href="https://www.gsu.edu.ph" class="btn btn-sm btn-light mb-1">GSU Website</a>
                <a href="https://clinic.gsu.edu.ph" class="btn btn-sm btn-light mb-1">Clinic Portal</a>
                <a href="https://q.gsu.edu.ph" class="btn btn-sm btn-light mb-1">Q</a>
                <a href="https://hris.gsu.edu.ph" class="btn btn-sm btn-light mb-1">Human Resource Information System</a>
                <a href="https://board.gsu.edu.ph/entrance" class="btn btn-sm btn-light mb-1">Board Room</a>
                <a href="https://suma.gsu.edu.ph" class="btn btn-sm btn-light mb-1">SUMA</a>
                <a href="https://journals.gsu.edu.ph" class="btn btn-sm btn-light mb-1">Journal Publications</a>
            </div>
        </div>
        <div class="col-md-6 order-1 text-center">
            <img src="/images/911.png" width="300" height="300" alt="Systems Development Image">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 pb-5">
            <div class="text-center pt-5">
                <p>Happy or sad? Give us your feedback.</p>
                <a href="/services/survey" class="btn btn-sm btn-primary mb-1">Client Satisfaction Survey</a>
            </div>
        </div>
    </div>
{% endblock %}
</body>
</html>
